<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <!-- <img src="../../assets/bc.jpg" alt="Image de contact" class="contact-image"> -->
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                leonel_zanguim
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">DÉVELOPPEUR LOGICIEL</h1>
  
            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://linkedin.com/in/leonelzanguim" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">
                        <a href="https://github.com/zanguim12" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
  
                    <div class="media-icon">
                        <a href="mailto:leonelzangui4@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
  
                    <div class="media-icon">
                        <a href="https://twitter.com/leonelzanguim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
  
            <p class="contact-paragraph">
                Je suis toujours heureux de collaborer sur de nouveaux projets et d'explorer des solutions innovantes.
                Si vous cherchez un développeur logiciel dévoué pour donner vie à vos idées,
                organisons un appel. Discutons de la manière dont <span class="default-highlight">
                nous pouvons travailler ensemble pour atteindre vos objectifs</span>.
            </p>
            <button>
                <a href="https://linkedin.com/in/leonelzanguim" target="_blank">
                > Envoyez-moi un message sur LinkedIn
                </a>
            </button>
        </div>
    </div>
  </div>
  