<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">Ingénierie du monde numérique de bout en bout.</h1>
      <h2 class="home-author">Barbara Calderon, <span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>
        Développeux avec 3 ans d'expérience dans la création de logiciels, je tire parti de ma maîtrise de l'anglais et de mes compétences en programmation pour concevoir des applications accessibles, évolutives et performantes.
      </blockquote>
      <button>
        <a routerLink="/portfolio">
          > Consulter le Portfolio
        </a>
      </button>
    </div>
  </div>
</div>
